<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css">
    
    <style> 
        .container-small{
            max-width:500px;
        }

        .flex-container{
            display:flex;
        }

        .flex-center-vertical{
            justify-content: center;
            align-items: center;
        }

        .fullscreen {
            min-width: 100vw;
            min-height:100vh;
        } 

    </style>
</head>
<body style="background: #bdc3c7 ">
 
    {{{body}}}
 
</body>
</html>