<div class="fullscreen flex-container flex-center-vertical">
    
    <div class="container container-small">
        <div class="well">
            <h3>Something went wrong :,(</h3>
            <p>We are sorry, something went wrong trying to subscribe you</p>
            <a href="/">Try again</a> 
        </div>
    </div>

</div>