<div class="fullscreen flex-container flex-center-vertical">
    
    <div class="container container-small">
        <div class="well">
            <h3>Mail server misconfiguration</h3>
            <p>This server doesn't seem to be configured correctly. Try checking the SENDGRID_API_KEY env variable.</p>
            <p>
                <a href="/">Back to start</a> 
            </p>
        </div>
    </div>

</div>