<div class="fullscreen flex-container flex-center-vertical">
    
    <div class="container container-small">
        <div class="well">
            <h3>Something went wrong :,(</h3>
            <a href="/" class="btn btn-primary">Back to register</a>
        </div>
    </div>

</div>