<div class="container">
    <div>
        <form class="form" action="/subscribe" method="POST">
            <input type="text" class="form-control" placeholder="Your email">
        </form>
    </div>
</div>