<div class="fullscreen flex-container flex-center-vertical">
    
    <div class="container container-small">
        <div class="well">
            <h3>Now you are in</h3>
            <p>Thank you for subscribing to our newsletter</p>
            <a href="/">Back to register</a>
        </div>
    </div>

</div>